.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto 100px auto;
    text-align: center;
}

.error h1 {
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 30px;
}

.error p {
    margin-bottom: 60px;
    color: #3f3f3f;
}

.error button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #fe2e2e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.error button:hover {
    background-color: #ff6666;
}

